html{
    margin: 0!important;
    background-color: rgba(0, 0, 0, 0.199);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-content {
  max-width: 650px;
  margin: auto;
  height: 100vh;
}
.content {
  height: 100%;
  background-color: red;
  overflow-y:auto ;
}


/* mainpage css start */


/* ********************************************** */



/* landingpage css start */

.landingcontainer{
    max-width: 650px;
    margin: auto;
    height: 100vh;
    overflow-y: auto;
    background-color: rgba(0, 0, 255, 0.525);
}

/* ********************************************** */



/* information food modal css start */

.food-modal {
  background-color: #3B1D9B;
}

.food-container {
  position: relative;
  display: inline-block;
}

.food-container::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px; 
  height: 250px; 
  background: rgba(255, 255, 255, 0.1); 
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.2);
  z-index: -1;
  border-radius: 8px; 
}
/* ********************************************** */