html {
  margin: 0 !important;
  background-color: rgba(0, 0, 0, 0.199);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-content {
  max-width: 650px;
  margin: auto;
  height: 100vh;
}
.content {
  height: 100%;
  background-color: white;
  overflow-y: auto;
  padding: 0 15px;

}

/* mainpage css start */

@media only screen and (min-width: 475px) {
  .viewfood > div {
    width: 48%;
  }
  .poster span {
 line-height: 100%;
  }
}
@media only screen and (min-width: 650px) {
  .poster span {
    font-size: 45px !important;
    margin-top: 40px;
  }
  .poster p {
    font-size: 20px !important;
    padding: 12px !important;
    margin-top: 10px !important;
    width: 50%;
  }
}
@media only screen and (max-width: 650px) {
  .poster span {
    font-size: 35px !important;
    margin-top: 40px;
  }
  .poster p {
    font-size: 24px !important;
    padding: 6px !important;
    margin-top: 10px !important;
    width: 80%;
  }
}
@media only screen and (max-width: 450px) {
  .poster span {
    font-size: 25px !important;
    margin-top: 0px;
  }
  .poster p {
    font-size: unset !important;
    padding: 4px !important;
    margin-top: 10px !important;
  }
}
@media only screen and (max-width: 350px) {
  .poster span {
    font-size: 20px !important;
  
  }
  .poster p {
    font-size: unset !important;
    padding: 4px !important;
    margin-top: 10px !important;
  }
}

.pricerange {
  width: 100%;
}
/* تغییر ظاهر اسکرول افقی */
.custom-scroll::-webkit-scrollbar {
  height: 3px; /* ارتفاع اسکرول افقی */
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #4caf50; /* رنگ اسکرول */
  border-radius: 10px; /* گرد شدن گوشه‌ها */
}

.custom-scroll::-webkit-scrollbar-track {
  background: #f1f1f1; /* رنگ پس‌زمینه اسکرول */
  border-radius: 10px; /* گرد شدن گوشه‌ها */
}

/* کارت های صفحه اصلی */


.card {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.card.hidden {
  opacity: 0;
  transform: translateY(20px);
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 10px 0;
}

.art-board__container {
  margin: 18px 0 18px 0;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card {
  width: 48%;
  overflow: hidden;
  border-radius: 25px;
  border: 1px solid lavender;
}

@media (max-width: 475px) {
  .card {
    width: 100%;
    flex-wrap: nowrap;
  }
}

.card__image {
  position: relative;
  height: 100px;
}
.card__image > img {
  max-width: 100%;
  border-bottom-left-radius: 30px;
  transform: rotate(-10deg) translate(15px, -55px);
  width: 100%;
  position: absolute;
  height: 155px;
  object-fit: cover;
  object-position: center;
}

.card__info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px 30px 20px 30px;
}
.card__info h3 {
  font-size: 18px;
  font-weight: 700;
}
.card__info p {
  font-size: 14px;
  font-weight: 600;
}
.card__info--price {
  text-align: right;
  color: orangered;
}


.modal-enter {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease-out;
}

.modal-enter-active {
  opacity: 1;
  transform: translateY(0);
}

.modal-exit {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s ease-out;
}

.modal-exit-active {
  opacity: 0;
  transform: translateY(20px);
}

/* ********************************************** */

/* landingpage css start */

.landingcontainer {
  max-width: 650px;
  margin: auto;
  height: 100vh;
  overflow-y: auto;
  background-color: rgba(0, 0, 255, 0.525);
}

/* ********************************************** */

/* information food modal css start */

.food-modal {
  background-image: url(../image/foodmodalbg.jpg);
  background-size: 100%;
  margin: 0 auto;
}

.food-container {
  position: relative;
  display: inline-block;
}

#modal {
  display: none;
}

#modal.show {
  display: block;
  animation: downtoup 0.5s forwards;
}

#modal.hide {
  animation: uptodown 1s forwards;
}

@keyframes downtoup {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes uptodown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

/* ********************************************** */
